.mb-1 {
  margin-bottom: 15px;
}

.mb-2 {
  margin-bottom: 20px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: white;
}

body {
  font-family: "Roboto", sans-serif;
}

.explore {
  background-color: #f4f4f4;
  text-align: center;
  height: 200px;
}
.explore .explore_title {
  font-size: 150%;
  font-weight: bold;
  padding: 25px;
}
.explore .explore_txt {
  color: #4d4d4d;
  padding: 0 25px 25px 25px;
}
.explore .button {
  border-radius: 30px;
  color: #fff;
  padding: 17px 26px;
  text-decoration: none;
  background: #ff79da;
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 98%);
  box-shadow: 3px 3px 14px 0px #a7a7a7;
  transform: scale(1);
  transition: transform 400ms;
}
.explore .anchor {
  text-decoration: none;
  color: #fff;
}

.choice-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.choice-list__item {
  box-shadow: 0px 10px 10px 0px #e5e5e5;
  display: flex;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 15px 30px 15px 40px;
  font-weight: bold;
  transform: scale(1);
  transform: transform 400ms;
}
.choice-list__item--highlight {
  background-color: #f5edfe;
}
.choice-list__item--highlight .choice-list__icon {
  color: #9356dc;
}
.choice-list__icon {
  margin-right: 15px;
}
.choice-list__number {
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  padding: 5px 10px;
  position: absolute;
  left: -15px;
}

.restaurant--card {
  margin: 20px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 10px 10px 0px #c5c9c9;
  position: relative;
  border-radius: 25px;
}

.restaurant--card a {
  text-decoration: none;
  color: black;
}

.restaurant--card__new {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #99E2D0;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  right: 10px;
  top: 20px;
}

.restaurant {
  margin-top: 30px;
  padding-bottom: 30px;
  background-color: #f2f3f5;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.restaurant h2 {
  padding-left: 20px;
}

.restaurant .restaurant--list {
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.restaurant--card img {
  width: 100%;
  height: 150px;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}

.card--description {
  padding: 10px 15px;
}

.footer {
  display: flex;
  background-color: #333333;
  color: white;
  flex-direction: column;
}
.footer__link {
  text-decoration: none;
  color: #f4f4f4;
  list-style: none;
}

.logo {
  text-align: center;
  margin: 20px 0 10px 0;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
  text-align: center;
  background: linear-gradient(180deg, #a7a7a7 0%, #e2e2e2 15%);
}
.location .location_text {
  flex-basis: 150px;
  color: #4d4d4d;
  font-weight: bold;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 0 15px;
}

/*# sourceMappingURL=style.css.map */
