.mb-1 {
  margin-bottom: 15px;
}

.mb-2 {
  margin-bottom: 20px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: white;
}

body {
  font-family: "Roboto", sans-serif;
}
body .restaurant--name {
  font-family: "shrikhand", cursive;
}
body .site--name {
  font-family: "shrikhand", cursive;
}

.explore {
  background-color: #f4f4f4;
  text-align: center;
  height: 200px;
}
.explore .explore__title {
  font-size: 150%;
  font-weight: bold;
  padding: 25px;
}
.explore .explore__txt {
  color: #4d4d4d;
  padding: 0 25px 25px 25px;
}
.explore .explore__button {
  border-radius: 30px;
  color: #fff;
  padding: 17px 26px;
  text-decoration: none;
  background: #ff79da;
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 98%);
  box-shadow: 3px 3px 14px 0px #a7a7a7;
  transform: scale(1);
}
.explore .explore__button:hover {
  transform: scale(1.15);
}
.explore .anchor {
  text-decoration: none;
  color: #fff;
}

.heart {
  position: relative;
}
.heart .fas {
  display: none;
}
.heart__label {
  position: absolute;
  right: 0;
}
.heart__checkbox {
  display: none;
}
.heart__checkbox:checked + label {
  background: #b40daf;
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 98%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 150%;
}
.heart__checkbox:checked + label .fas {
  display: inline;
}
.heart__checkbox:checked + label .far {
  display: none;
}

.choice-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.choice-list__item {
  box-shadow: 0px 10px 10px 0px #e5e5e5;
  display: flex;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 15px 30px 15px 40px;
  font-weight: bold;
  transform: scale(1);
  transition: transform 400ms;
}
.choice-list__item--highlight {
  background-color: #f5edfe;
}
.choice-list__item--highlight .choice-list__icon {
  color: #9356dc;
}
.choice-list__icon {
  margin-right: 15px;
}
.choice-list__number {
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  padding: 5px 10px;
  position: absolute;
  left: -15px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.restaurant--card {
  margin: 20px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 10px 10px 0px #c5c9c9;
  position: relative;
  border-radius: 25px;
}

.restaurant--card__new {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #99E2D0;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  right: 10px;
  top: 20px;
}

.restaurant--card a {
  text-decoration: none;
  color: black;
}

.restaurant {
  margin-top: 30px;
  padding-bottom: 30px;
  background-color: #f2f3f5;
  display: flex;
  flex-direction: column;
}

.restaurant h2 {
  padding-left: 20px;
}

.restaurant .restaurant__list {
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.restaurant--card img {
  width: 100%;
  height: 150px;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}

.card--description {
  padding: 10px 15px;
  display: flex;
}
.card--description__name {
  flex-grow: 1;
}

.footer {
  background-color: #333333;
  color: white;
  flex-direction: column;
  padding: 30px 10%;
}
.footer__link {
  text-decoration: none;
  color: #f4f4f4;
  list-style: none;
}
.footer h3 {
  font-family: "Shrikhand", cursive;
  color: #f4f4f4;
  font-size: 120%;
  padding-bottom: 20px;
}
.footer a {
  color: #fff;
  text-decoration: none;
}

.menu {
  background-color: #f4f4f4;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  padding: 30px 5%;
  margin-top: -70px;
  max-width: 1300px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .header__title {
  font-size: 150%;
  font-weight: bold;
  font-family: "shrikhand", cursive;
  margin-bottom: 0;
  padding-left: 5px;
}

.heart-container {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.submenu {
  display: flex;
  flex-direction: column;
}

.submenu__title {
  color: #4d4d4d;
  padding-bottom: 10px;
  padding-top: 10px;
}

.submenu__title::after {
  content: "";
  display: block;
  width: 40px;
  background-color: #99e2d0;
  height: 3px;
}

.order-btn {
  border-radius: 30px;
  color: #fff;
  background: #ff79da;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 98%);
  padding: 10px;
  cursor: pointer;
  user-select: none;
  width: 30%;
  margin: 0 auto;
  margin-top: 0px;
  box-shadow: 3px 3px 14px 0px #a7a7a7;
  transform: scale(1);
  transition: transform 400ms;
  max-width: 120px;
  text-align: center;
  margin-top: 30px;
}

.menu-item {
  display: flex;
  flex-direction: column;
}
.menu-item .menu-item__card {
  position: relative;
  display: flex;
  border-radius: 15px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 3px 3px 14px 0px #a7a7a7;
  justify-content: space-between;
  overflow: hidden;
}
.menu-item__card-body {
  flex-grow: 1;
  padding: 10px;
}
.menu-item .menu-item__card-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  color: #4d4d4d;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-item__card-title {
  display: block;
  margin-bottom: 5px;
}

.background-img {
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  height: 250px;
}

.logo {
  position: relative;
}

.logo__icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  font-size: 130%;
  color: black;
}

.logo {
  text-align: center;
  margin: 20px 0 10px 0;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
  text-align: center;
  background: linear-gradient(180deg, #a7a7a7 0%, #e2e2e2 15%);
}
.location .location__text {
  flex-basis: 150px;
  color: #4d4d4d;
  font-weight: bold;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 0 15px;
}

.menu--fade {
  animation-name: menu-fade;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

.menu--fade-1 {
  animation-delay: 1s;
}

.menu--fade-2 {
  animation-delay: 2s;
}

@keyframes menu-fade {
  0% {
    opacity: 0;
    transform: translate(0, 200px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.loader {
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: opacity 2s;
  animation-name: loader-fade;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes loader-fade {
  0% {
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
input {
  display: none;
}

label {
  cursor: pointer;
}

.menu-item__checkbox {
  display: none;
}

.menu-item__card-checked {
  width: 0;
  overflow: hidden;
  background-color: #99e2d0;
  color: #fff;
  font-size: 150%;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item__check-icon {
  transform: rotate(360deg);
  transition-duration: 600ms;
}

.menu-item__checkbox:checked + label .menu-item__card-checked {
  width: 50px;
}
.menu-item__checkbox:checked + label .menu-item__check-icon {
  transform: rotate(0deg);
}

/*# sourceMappingURL=style.css.map */
