.explore{
    background-color: #f4f4f4;
    text-align: center;
    height: 200px;

    .explore_title {
        font-size: 150%;
        font-weight: bold;
        padding: 25px;
    }

    .explore_txt {
        color: #4d4d4d;
        padding: 0 25px 25px 25px;
    }

    .explore_btn {
        border-radius: 30px;
        color: #fff;
        padding: 10px;
        background: #ff79da;
        background: linear-gradient(175deg, #ff79da 0%, #9356dc 98%);
        box-shadow: 3px 3px 14px 0px blue;
    }

    .anchor {
        text-decoration: none;
        color: #fff;
    }
}