.explore{
    background-color: #f4f4f4;
    text-align: center;
    height: 200px;

    .explore__title {
        font-size: 150%;
        font-weight: bold;
        padding: 25px;
    }

    .explore__txt {
        color: #4d4d4d;
        padding: 0 25px 25px 25px;
        margin: 10px;
    }

    .explore__button {
        border-radius: 30px;
        color: #fff;
        padding: 17px 26px;
        text-decoration: none;
        background: #ff79da;
        background: linear-gradient(175deg, #ff79da 0%, #9356dc 98%);
        box-shadow: 3px 3px 14px 0px #a7a7a7;
        transform: scale(1);

        &:hover{
            transform: scale(1.15);
        }

    }



    .anchor {
        text-decoration: none;
        color: #fff;
    }
}
