.footer{
    display: flex;
    background-color: #333333;
    color: white;
    flex-direction: column;
    
    &__link{
        text-decoration: none;
        color: #f4f4f4;
        list-style: none;
    }

    h3 {
        font-family: "Shrikhand",cursive;
        color: #f4f4f4;
        font-size: 120%;
        padding-bottom: 20px;
    }
}