.heart {
    position: relative;
    .fas{
        display: none;
    }

    &__label{
        position: absolute;
        right:0;
        
    }
    
    &__checkbox {
        display: none;

      &:checked + label {
        background: rgb(180,13,175);
        background:linear-gradient(175deg, #ff79da 0%, #9356dc 98%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 150%;
    

        .fas {
            display: inline;
        }

        .far {
            display: none;
        }
      }
    }  
}