.background-img {
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    height: 250px;
}

.logo {
    position: relative;
}

.logo__icon {
    position: absolute;
     top: 0;
    left: 0;
    bottom: 0;
     width: 50px;
    font-size: 130%;
    color: black;
}

.menu {
    background-color: #f4f4f4;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    padding: 30px 5%;
    margin-top: -70px;
    max-width: 1300px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header__title {
        font-size: 150%;
        font-weight: bold;
        font-family: 'shrikhand',cursive;
        margin-bottom: 0;
        padding-left: 5px;
    }

}

.heart-container {
    width: 10%;
    display: flex;
    justify-content: flex-end;
}

.submenu {
    display: flex;
    flex-direction: column;
}

.submenu__title {
    color: #4d4d4d;
    padding-bottom: 10px;
    padding-top: 10px;
    }
    .submenu__title::after{
    content: '';
     display: block;
     width: 40px;
     background-color: #99e2d0;
     height: 3px;
    }


input {
    display: none;
}

label {
    cursor: pointer;
}

.checkbox-menu-item {
    display: none;
}

.checkbox-menu-item:checked + label .card-checked {
    width: 50px;
}

.check__icon{
    transform: rotate(0deg);
    transition-duration: 600ms;
}

.card {
    position: relative;
    display: flex;
    border-radius: 15px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 3px 3px 14px 0px #a7a7a7;
    justify-content: space-between;
    overflow: hidden;
}

.card-body {
    flex-grow: 1;
    padding: 10px;
}

.card-title {
display: block;
}

.card-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    color: #4d4d4d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.card-checked {
    width: 0;
    overflow:hidden ;
    background-color: #99e2d0;
    color: #fff;
    font-size: 150%;
    transition: 1s;
}


.order-btn {
    border-radius: 30px;
    color: #fff;
    background: #ff79da;
    background: linear-gradient(175deg, #FF79DA 0%, #9356DC 98%);
    padding: 10px;
    cursor: pointer;
    user-select: none;
    width: 30%;
    margin: 0 auto;
        margin-top: 0px;
    box-shadow: 3px 3px 14px 0px #a7a7a7;
    transform: scale(1);
    transition: transform 400ms;
    max-width: 120px;
    text-align: center;
    margin-top: 30px;
}