.restaurant--card{
    margin: 20px;
    width: 280px;
    background-color: white;
    box-shadow: 0px 10px 10px 0px #c5c9c9;
    position: relative;
    border-radius: 25px;
  }
  
  .restaurant--card a {
    text-decoration: none;
    color: black;
  }
  
  .restaurant--card_new {
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #99E2D0;
    position: absolute;    
    text-align: center;
    vertical-align: middle;
    right: 10px;
    top: 20px;
  }

  .restaurant {
    margin-top: 30px;
    padding-bottom: 30px;
    background-color: #f2f3f5;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  
  .restaurant h2{
    padding-left: 20px;
  }
  
  .restaurant .restaurant--list{
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .restaurant--card img {
    width: 100%;
    height: 150px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
  }

  .card--description{
    padding: 10px 15px;
  }

  

 
  
